extends layout.pug

block content
  h2 Select the tables to export:

  form(action="/export" method="POST")
    ul.checkbox-list
      each table in tables
        li
          input(type="checkbox", checked="checked", name="tableIds[]", id=table.id value=table.id)
          label(for=table.id)
            = table.name
            | &emsp;
            a(href="https://fusiontables.google.com/DataSource?docid=" + table.id, title=table.name, target="_blank")
              small Open

    p
      button(type="submit") Export!
