extends layout.pug

block content
  .fourofour
    h2.fourofour__title 404
    h3.fourofour__subtitle Page not found

    p.fourofour__message
      | The page you are looking for does not exist.
      br
      a(href="/", title="Go to the start page") Go to the start page.
