extends layout.pug

block content
  h2 Exporting these tables in the background:

  ul
    each table in tables
      li.fusiontable(data-id=table.id)= table.name

  p Check your Google Drive for the exported files.

  script(src="export.js")
