extends layout.pug

block content
  main.text-content
    h2 Migrate your Fusion Table Maps

    p
      | The Fusion Tables Archive Tool is an easy way to preserve existing maps generated with Google Fusion Tables. Google built it to help preserve your data and migrate your maps before the&thinsp;
      a(href="https://support.google.com/fusiontables/answer/9185417", title="Notice: Google Fusion Tables Turndown") Fusion Tables shutdown
      | &thinsp;on December 3, 2019. You have access to the exporting portion of this tool starting today until shutdown. If you only want to save your Fusion Tables data as CSV & KML files, and don't need the maps, then consider using&thinsp;
      a(href="https://takeout.google.com/", title="Google Takeout") Google Takeout
      | &thinsp;instead.

    p
      | This tool will export each selected Fusion Table to its own spreadsheet or CSV file “archive” in your Google Drive, and will generate a Google Map which references each dataset. This tool tries to preserve your map styling and basic balloon templates. Exports will be saved in a folder called “ft-archive”, and exported datasets and maps will be listed in a Google Sheet called “ft-archive-index”.

    p
      | To get started, sign in with your Google account below. This tool uses the following access rights (or “scopes”):

    ul
      li Read your tables (fusiontables.readonly)
      li List the tables that you own (drive.metadata.readonly)
      li Create and update the necessary folders, spreadsheets and files in Google drive (drive.file)

    p
     | See this&thinsp;
     a(href="https://developers.google.com/drive/api/v2/about-auth", title="Authorizing requests with OAuth") page
     | &thinsp;for more information on the Drive scopes.

    p
      | This site uses cookies to provide access rights to Google services (Fusion Tables and Drive). The cookies are discarded when you leave this site. No information from this site is shared with anyone else. By signing in below, you consent to the use of cookies.

    p
      | For more information about the tool, please read this&thinsp;
      a(href="https://medium.com/@googleearth/278babd23879", title="Download your Fusion Tables data and migrate your maps") blog post
      | . If you have more questions about the tool or the archives, please&thinsp;
      a(href="https://docs.google.com/document/d/1TrKT9FS3IryH6ahAfYX_7joMtiIq_p_vPCQ-lYyktm0/edit?usp=sharing", title="Fusion Tables Export FAQ") read this FAQ
      | .

    p
      | This app complies with Google’s&thinsp;
      a(href="/privacy", title="Google Privacy policy") Privacy
      |  policy and&thinsp;
      a(href="/terms", title="Google Terms of Service") Terms of Service.

    .actions
      a.button.button--login(href="/auth", title="Sign in with Google to start exporting your Fusiontables")
        svg.button--login__logo(width='46', height='46', viewBox='0 0 46 46', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
          defs
            rect#b(width='40', height='40', rx='2')
          g(fill='none', fill-rule='evenodd')
            g(transform='translate(3 3)')
              use(fill='#FFF', xlink:href='#b')
            path(d='M31.64 23.205c0-.639-.057-1.252-.164-1.841H23v3.481h4.844a4.14 4.14 0 0 1-1.796 2.716v2.259h2.908c1.702-1.567 2.684-3.875 2.684-6.615z', fill='#4285F4')
            path(d='M23 32c2.43 0 4.467-.806 5.956-2.18l-2.908-2.259c-.806.54-1.837.86-3.048.86-2.344 0-4.328-1.584-5.036-3.711h-3.007v2.332A8.997 8.997 0 0 0 23 32z', fill='#34A853')
            path(d='M17.964 24.71a5.41 5.41 0 0 1-.282-1.71c0-.593.102-1.17.282-1.71v-2.332h-3.007A8.996 8.996 0 0 0 14 23c0 1.452.348 2.827.957 4.042l3.007-2.332z', fill='#FBBC05')
            path(d='M23 17.58c1.321 0 2.508.454 3.44 1.345l2.582-2.58C27.463 14.891 25.426 14 23 14a8.997 8.997 0 0 0-8.043 4.958l3.007 2.332c.708-2.127 2.692-3.71 5.036-3.71z', fill='#EA4335')
            path(d='M14 14h18v18H14V14z')
        svg.button__spinner.spinner
          use(xlink:href="#icon-spinner")
        span.button__text Sign in with Google

      a(href="https://github.com/ubilabs/fusion-tables-drive-export/", title="Fusion Tables Drive Export on Github") Share feedback
