html
  head
    title Export Fusion Tables to Drive
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:400,500")
    link(rel="stylesheet", href="main.css")

  body.no-js
    header.site-header
      .site-header__content
        a.unflashy(href=isSignedIn ? "/export" : "/", title="Go to the start page")
          h1 Export Fusion Tables

        if isSignedIn
          a.text-button(href="/logout") Log out

    svg.svg-reference(xmlns="http://www.w3.org/2000/svg")
      symbol#icon-spinner(viewBox="0 0 50 50")
        title Loading
        circle(fill="none", stroke="currentColor", stroke-linecap="round", stroke-width="6", stroke-miterlimit="10", cx="25", cy="25.2", r="19.9")

    main(class=error && 'error')
      block content

    script(src="main.js")
