/*!
 * Copyright 2019 Google LLC
 *
 * Licensed under the Apache License, Version 2.0 (the "License")
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     https://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

@import '../node_modules/normalize.css/normalize.css'

$primary = #1A73E8
$grey = #757575

/**
 *          BASICS
 */
*, *::before, *::after
  box-sizing: border-box

html
  font-size: 100%
  font-family: 'Roboto', sans-serif
  line-height: 1.43

body
  background-color: #f4f4f4
  color: #212121
  padding: 0
  margin: 0

h1
  font-size: 1.5rem
  font-weight: 500
  display: inline-block
  margin: 0

h2
  font-size: 1.25rem
  font-weight: 400
  line-height: 1.5
  letter-spacing: 0.15px
  margin: 0 0 1.5rem 0

a, a:hover, a:focus, a:active
  color: $primary
  font-weight: 500
  transition: color .25s ease-in-out

.unflashy
  color: inherit

  &:hover, &:focus, &:active
    color: $primary

.invisible
  visibility: hidden

a
  text-decoration: none

  &:hover, &:focus, &:active
    text-decoration: underline

svg
  vertical-align: middle
  display: inline-block
  width: 1rem
  height: 1rem

  &[large]
    width: 1.5rem
    height: 1.5rem

.svg-reference
  display: none

.list
  list-style: none
  margin: 0 0 1.5rem 0
  padding: 0
  max-height: calc(100vh - 22rem)
  overflow: auto
  border-bottom: 1px solid #e0e0e0

  .fusiontable__note ~ &
    max-height: calc(100vh - 27rem)

.back-link-icon
  margin-right: .75rem
  vertical-align: text-bottom

/**
 *          LOADING SPINNER
 */
.spinner
  width: 1.125rem
  height: 1.125rem
  color: $grey
  animation: spinnerrotate 2s linear infinite
  use
    stroke-dasharray: 1,200
    stroke-dashoffset: 0
    animation: spinnerdash 1.5s ease-in-out infinite

@keyframes spinnerrotate
  from
    transform: rotate(0deg)
  to
    transform: rotate(360deg)

@keyframes spinnerdash
  0%
    stroke-dasharray: 1,200
    stroke-dashoffset: 0
  50%
    stroke-dasharray: 89,200
    stroke-dashoffset: -35
  100%
    stroke-dasharray: 89,200
    stroke-dashoffset: -124

/**
 *          BUTTONS
 */
.button, .text-button
  text-decoration: none
  padding: 0 0.57rem
  position: relative
  height: 2.57rem
  display: inline-flex
  align-items: center
  justify-content: center
  will-change: transform, opacity
  border: none
  outline: none
  line-height: inherit
  user-select: none
  -webkit-appearance: none
  overflow: hidden
  vertical-align: middle
  border-radius: 4px

  &::after, &::before
    content: ""
    border-radius: 50%
    opacity: 0
    pointer-events: none
    position: absolute
    top: -50%
    left: -50%
    width: 200%
    height: 200%
    background: $primary

  &::after
    top: 50%
    left: 50%
    width: 3.5rem
    height: 3.5rem
    transform: translate(-50%, -50%) scale(0)
    transform-origin: center center
    transition: opacity 75ms linear, transform 225ms cubic-bezier(0.4, 0, 0.2, 1)

  &:hover
    cursor: pointer

  &:hover, &:focus
    text-decoration: none

  &:active
    outline: none

    &::after
      opacity: 0.12
      transform: translate(-50%, -50%) scale(2)

.text-button
  font-size: .875rem
  letter-spacing: .0892857143em
  font-weight: 500
  text-transform: uppercase
  color: $primary

  &::before
    transition: opacity 15ms linear, background-color 15ms linear
    z-index: 1

  &:hover::before
    opacity: .04

.button
  font-weight: 500
  letter-spacing: 0.1px
  color: #fff
  background: $primary
  transition: background 75ms linear

  &::after
    background: #fff

  &:hover, &:focus
    color: #fff
    background: #135BB9

  &[disabled]
    background: $grey

  &--outlined
    color: $primary
    border: 1px solid rgba(0,0,0,0.12)
    background-color: transparent

    &::after
      background: $primary

    &:hover, &:focus
      color: $primary
      background: rgba(0,0,0,0.04)

  &__spinner
    color: #fff
    position: absolute
    left: 50%
    display: none
    margin-left: -.5625rem

  &--loading &__text
    visibility: hidden

  &--loading &__spinner
    display: inline-block

  &--login
    padding-left: 0
    padding-right: 1rem

    &__logo
      width: 2.7rem
      height: 2.7rem
      margin-right: 1rem

/**
 *          TEXT INPUT FIELDS
 */
.input
  font-size: 1rem
  position: relative
  z-index: 1

  &__field
    font-size: .875rem
    height: 3.5rem
    width: 100%
    padding: .3em 6.5em 0 0
    line-height: 3.5rem
    letter-spacing: 0.15px
    border: none
    border-bottom: 2px solid rgba(0,0,0,0.24)
    transition: border-color .25s ease-in-out

    &:focus
      border-color: $primary

  &__label
    display: none

  &__button
    width: 2.5rem
    position: absolute
    top: 50%
    right: 0
    transform: translateY(-50%)

    svg
      width: 1.5rem
      height: 1.5rem

  &__clear
    width: 2.5rem
    position: absolute
    top: 50%
    right: 2.75rem
    color: $grey
    padding: .25em
    transform: translateY(-50%)

/**
 *          HEADER
 */
.site-header
  font-size: 1rem
  height: 4em
  background: #fff
  border-bottom: 1px solid #d9d9d9

  &__content
    width: 95%
    max-width: 50rem
    height: 100%
    margin: 0 auto
    padding: 0 1.5em
    display: flex
    justify-content: space-between
    align-items: center
    position: relative

/**
 *          MAIN CONTENT
 */
main
  font-size: 1rem
  width: 95%
  max-width: 50rem
  padding: 1.5em 0 1.5em 0
  margin: 2em auto
  border-radius: 4px
  background-color: #FFFFFF
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12), 0 1px 3px 0 rgba(0,0,0,0.2)

  &.error
    background: #fce3e3
    color: #BF1515

  & h2, & p, & > .button
    margin-left: 1.5rem
    margin-right: 1.5rem

  &:not(.error) p
    color: #666

  & p
    max-width: 35rem
    letter-spacing: 0.25px

  & form
    margin-bottom: 0

  & .actions
    margin-top: 1.5rem
    padding: 0 1.5rem

    & > *
      margin-right: 1.5rem

/**
 *          CHECKBOX LIST
 */
.checkbox-row
  font-size: 1rem
  position: relative
  height: 3.5em
  padding: 0 1.5em

  &:not(:last-child)
    border-bottom: 1px solid #e0e0e0

  .active-background
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    background: #fff
    transition: background .25s ease-in-out

  & input[type="checkbox"]
    position: absolute
    top: -9999px
    left: -9999px
    appearance: none
    opacity: 0

    &:checked ~ .active-background
      background-color: #e3eefb

  &:hover .active-background, &:focus .active-background
    background-color: #f4f4f4

  &__label
    font-size: 1rem
    line-height: 3.5em
    letter-spacing: 0.25px
    margin: 0
    cursor: pointer
    position: relative
    user-select: none

  &--header
    display: flex
    justify-content: space-between

    .no-js &
      display: none

  &--header &__label span
    font-size: 0.875rem
    color: $grey
    letter-spacing: 0.4px

  &__checkbox
    margin-right: 0.75rem

  & input:checked ~ label &__checkbox
    color: $primary

  & input:checked ~ label &__checkbox--outline
    display: none

  & input:not(:checked) ~ label &__checkbox--checked
    display: none

.nothing-message
  text-align: center
  color: $grey
  margin: 5em 1em

.filters
  display: inline-block
  width: 17em

.export-actions
  text-align: right
  padding: 0 1.5em

  & > * ~ *
    margin-left: 1.5rem

/**
 *          FUSIONTABLES EXPORT PROGRESS
 */
.fusiontable
  font-size: 1rem
  position: relative
  min-height: 3.5em
  padding: 0 1.5rem
  line-height: 3.5em
  letter-spacing: 0.25px
  display: flex
  flex-wrap: wrap

  &:not(:last-child)
    border-bottom: 1px solid #e0e0e0

  &--export
    &:hover, &:focus
      background-color: #f4f4f4

  &--header
    font-size: 0.875rem
    color: $grey
    letter-spacing: 0.4px

  &__name
    width: calc(100% - 15.5rem)

  &__file, &__visualization
    width: 6.25rem
    flex-grow: 0
    flex-shrink: 0
    margin-left: 1.5rem
    text-align: right
    display: flex
    justify-content: flex-end
    align-items: center

    .no-js &
      display: none

  &__visualization--not-available &__link
    display: none

  &__visualization
    small
      font-size: .75em
      line-height: 1.2
      text-align: right

    &:not(&--not-available) small
      display: none

  &__error, &__note
    width: 100%

    main > &
      padding: 0 1.5rem

    &__message
      font-size: .875rem
      margin-bottom: 1.5rem
      border-radius: 4px
      padding: 0.5rem 1.5rem
      line-height: 2

  &__error__message
    border: 1px solid #f9c8c8
    background: #fce3e3
    color: #BF1515

  &__note__message
    border: 1px solid #c8e3f9
    background: #e3f5fc
    color: $primary

  &__link
    color: $grey

    &--visualization
      margin-left: .5em

  &__info, &__warning
    color: $primary
    display: inline-block
    position: relative
    cursor: pointer
    margin-right: .25rem

    &__icon--hovered
      display: none

    &__tooltip
      font-size: 0.75rem
      color: #fff
      letter-spacing: 0.4px
      line-height: 1rem
      z-index: 5
      background-color: rgba(0,0,0,0.54)
      border-radius: 2px
      width: 15rem
      max-width: 20rem
      position: absolute
      top: 50%
      left: -.5rem
      opacity: 0
      transform: translate(-100%, -50%) scale(0)
      transform-origin: top center
      padding: .25rem .5rem
      text-align: center

    &:hover &__icon--hovered, &:focus &__icon--hovered
      display: inline-block

    &:hover &__icon--unhovered, &:focus &__icon--unhovered
      display: none

    &:hover &__tooltip, &:focus &__tooltip
      transition: opacity .2s cubic-bezier(0,0,.2,1), transform .1s cubic-bezier(0,0,.2,1)
      opacity: 1
      transform: translate(-100%, -50%) scale(1)

  &[loading] &__link,
  &--failed &__link,
  &:not([loading]) .spinner,
  &--csv &__link__icon--spreadsheet,
  &--spreadsheet &__link__icon--csv,
  &:not(&--csv) &__info--csv,
  &__visualization:not(&__visualization--is-large) &__warning--is-large
    display: none

.fusiontable-export-summary
  margin: 0 1.5rem

/**
 *          404
 */
.fourofour
  text-align: center
  width: 90%
  max-width: 40rem
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)

  &__title
    font-size: 6rem
    font-weight: 400
    height: 7rem
    line-height: 7rem
    color: rgba(0,0,0,0.87)
    letter-spacing: -1.5px
    margin: 0

  &__subtitle
    font-size: 1.5rem
    font-weight: 400
    height: 1.75rem
    line-height: 1.75rem
    color: rgba(0,0,0,0.87)

  &__message
    color: rgba(0,0,0,0.6);
    letter-spacing: 0.15px;
