*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-size: 100%;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.site-header {
  background: #fff;
  padding: 0.5rem;
}

.site-header h1 {
  display: inline-block;
  color: #5f6368;
  font-size: 1.25rem;
  line-height: 3.125rem;
  margin: 0;
}

.site-header a {
  display: inline-block;
  color: #5f6368;
  text-decoration: none;
}
