*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-size: 125%;
  font-family: 'Courier New', Courier, monospace;
  background-color: #f9ebcc;
  padding: 0;
  margin: 0;
}

a, a:hover, a:focus, a:active {
  color: #4285f4;
  font-weight: bold;
}

a {
  text-decoration: none;
}

a:hover, a:focus, a:active {
  text-decoration: underline;
}

button, .button {
  font-size: inherit;
  font-weight: bold;
  color: #fff;
  background: #4285f4;
  border: none;
  border-radius: 2px;
  padding: .9em;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  position: relative;
  box-shadow: .5em .5em 0 0 rgba(66,133,244,0.17);
  transition: box-shadow .25s ease-in-out;
}

button:hover, .button:hover, button:focus, .button:focus {
  color: #fff;
  text-decoration: underline;
  box-shadow: .35em .35em 0 0 rgba(66,133,244,0.17);
}

.site-header {
  background: #fff;
  padding: 0.5rem 2rem;
  margin: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  border: 1px solid #4285f4;
  border-radius: 2px;
  box-shadow: 1em 1em 0 0 rgba(66,133,244,0.17);
}

.site-header h1 {
  display: inline-block;
  color: #000;
  font-size: 2.4rem;
  margin: 0;
}

main {
  max-width: 42rem;
  padding: 0 2rem;
  margin: 7rem auto;
}

.checkbox-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.checkbox-list li {
    position: relative;
}

.checkbox-list input {
  position: absolute;
  top: -9999px;
  left: -9999px;
  appearance: none;
  opacity: 0;
}

.checkbox-list label {
  font-size: 1rem;
  margin: 0;
  cursor: pointer;
}

.checkbox-list label::before {
  font-size: 1em;
  content: '';
  display: inline-block;
  position: relative;
  height: 1em;
  width: 1em;
  margin: 0 1em;
  border: 1px solid #000;
  border-radius: 2px;
  cursor: pointer;
  vertical-align: middle;
}

.checkbox-list input:checked + label::before {
  background-color: #4285f4;
  border-color: #4285f4;
}

.checkbox-list input:checked + label::after {
  content: '';
  font-size: 1.25em;
  display: block;
  position: absolute;
  top: .25em;
  left: 1.05em;
  width: .3em;
  height: .6em;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.fusiontable--loading::before {
  content: '⏳';
  margin-right: .5em;
  vertical-align: middle;
}

.fusiontable--success::before {
  content: '🎉';
  margin-right: .5em;
  vertical-align: middle;
}
